<!DOCTYPE html>
<html>
<head>
  <title>TaxiRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    
</head>
  <body> 
  
    

    <%= render 'layouts/header' %>
    <%= bootstrap_flash %>
    <div class="main">
      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
    
  </body>
<script src="//maps.google.com/maps/api/js?v=3.18&sensor=true&client=&key=AIzaSyAIZtYl9g-8KyW35wSqNk-3QoIeCXrMG04&libraries=geometry&language=&hl=&region="></script>
</html>
